#LGMVIP task perfomed by Bhagyashree Mahajan
#beginer level task
#1. Iris Flowers Classification ML Project

In [ ]:
#importing all necessary libraries
import pandas as pd
import numpy as nl
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [ ]:
#reading the dataset 
data = pd.read_csv("/content/iris.data", names=["Sepal_Length(cm)","Sepal_Width(cm)","Petal_Length(cm)","Petal_Width(cm)",
                                                "Species_Flower"])

In [ ]:
data

,Sepal_Length(cm),Sepal_Width(cm),Petal_Length(cm),Petal_Width(cm),Species_Flower
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
#checking if there is any null value in dataet
data.isnull().sum()

Sepal_Length(cm)    0
Sepal_Width(cm)     0
Petal_Length(cm)    0
Petal_Width(cm)     0
Species_Flower      0
dtype: int64

In [ ]:
#stats anaylisis fo==of the data
data.describe()

       Sepal_Length(cm)  Sepal_Width(cm)  Petal_Length(cm)  Petal_Width(cm)
count        150.000000       150.000000        150.000000       150.000000
mean           5.843333         3.054000          3.758667         1.198667
std            0.828066         0.433594          1.764420         0.763161
min            4.300000         2.000000          1.000000         0.100000
25%            5.100000         2.800000          1.600000         0.300000
50%            5.800000         3.000000          4.350000         1.300000
75%            6.400000         3.300000          5.100000         1.800000
max            7.900000         4.400000          6.900000         2.500000

In [ ]:
#cheking unique species of flower
data["Species_Flower"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:

# Seperating data into dependent and independent
y = data['Species_Flower']
x = data[['Sepal_Length(cm)','Sepal_Width(cm)','Petal_Length(cm)','Petal_Width(cm)']]

In [ ]:
# Splitting the data into train and test set
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
x_train.shape

(120, 4)

In [ ]:
y_train.shape

(120,)

In [ ]:
x_test.shape

(30, 4)

In [ ]:
y_test.shape

(30,)

In [ ]:
data.shape

(150, 5)

In [ ]:
regressor = LogisticRegression()
regressor = regressor.fit(x_train.values,y_train)
y_train_pred = regressor.predict(x_train)
y_test_pred = regressor.predict(x_test)

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [ ]:

y_test_pred

array(['Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa'], dtype=object)

In [ ]:



print("Training Accuracy", metrics.accuracy_score(y_train,y_train_pred))
print("Test Accuracy", metrics.accuracy_score(y_test,y_test_pred))

Training Accuracy 0.975
Test Accuracy 1.0

In [ ]:

d = [[4.6,3.4,1.3,0.2]]
pred = regressor.predict(d)
pred

array(['Iris-setosa'], dtype=object)